.header {
    background: $dark-blue;

    &__title {
        color:#ffffff;
        text-decoration: none;

        h1 {
            margin: 0;
        }
    }

    &__content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: $s-size 0;
    }
}